process.executor = 'slurm'
process.queue = 'research_hi'
singularity.cacheDir = '/mnt/DATAR09/DATA_CONGNGUYEN/environments'
conda.cacheDir = '/mnt/DATAR09/DATA_CONGNGUYEN/environments'


process {

  withLabel: 'Samplesheet_check'{
    cpus        = 5
    memory      = 20.GB
    time        = '10m'
  }

  withLabel: 'Dorado_basecaller'{
    cpus        = 20
    memory      = 100.GB
    queue       = 'GPU'
    clusterOptions = "--gres gpu:5"
  }

  withLabel: 'Dorado_demux'{
    cpus        = 20
    memory      = 40.GB
  }

  withLabel: 'Remove_bad_alignment'{
    cpus        = 20
    memory      = 60.GB
  }

  withLabel: 'Sequencing_summary'{
    cpus        = 20
    memory      = 60.GB
  }

  withLabel: 'Modkit' {
    cpus        = 20
    memory      = 40.GB
  }

  withLabel: 'Pycoqc' {
    cpus        = 20
    memory      = 60.GB
  }

  withLabel: 'NanoQ' {
    cpus = 6
    memory = 12.GB
    time = '30m'
  }

  withLabel: 'Filtlong' {
    cpus = 3
    memory = 12.GB
    time = '3h'
  }
}