process.executor = 'slurm'
process.queue = 'research_hi'
singularity.cacheDir = '/mnt/NAS_PROJECT/vol_Phucteam/CONGNGUYEN/environments'
conda.cacheDir = '/mnt/NAS_PROJECT/vol_Phucteam/CONGNGUYEN/environments'


process {

  withLabel: 'Samplesheet_check'{
    cpus        = 5
    memory      = 20.GB
    time        = '10m'
  }
//This process need a high resouce: 800GB mem
  withLabel: 'Dorado_basecaller'{
    cpus        = 10
    memory      = 400.GB
    queue       = 'GPU'
    time        = '100h'
    clusterOptions = "--gres gpu:3"
  }

  withLabel: 'Dorado_demux'{
    cpus        = 20
    memory      = 250.GB
    time        = '100h'
  }

  withLabel: 'Dorado_demux_2ends'{
    cpus        = 20
    memory      = 250.GB
    time        = '100h'
  }

  withLabel: 'Fragment_Length'{
    cpus        = 6
    memory      = 80.GB
    time        = '100h'
  }

  withLabel: 'BamtoFastq'{
    cpus        = 20
    memory      = 80.GB
    time        = '100h'
  }

  withLabel: 'Remove_bad_alignment'{
    cpus        = 15
    memory      = 80.GB
    time        = '100h'
  }

  withLabel: 'Samtools_depth'{
    cpus        = 20
    memory      = 100.GB
  }

  withLabel: 'Mosdepth'{
    cpus        = 20
    memory      = 80.GB
  }

  withLabel: 'Sequencing_summary'{
    cpus        = 4
    memory      = 20.GB
  }

  withLabel: 'Pycoqc' {
    cpus        = 4
    memory      = 80.GB
  }

  withLabel: 'NanoQ' {
    cpus        = 15
    memory      = 60.GB
    time = '3h'
  }

  withLabel: 'Filtlong' {
    cpus        = 10
    memory      = 160.GB
    time = '10h'
  }
}