/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: Samplesheet_check {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withLabel: Dorado_basecaller {
        publishDir = [
            path: { "${params.outdir}/1.Dorado_basecaller" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withLabel: Dorado_demux {
        publishDir = [
            path: { "${params.outdir}/2A.Dorado_demux" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withLabel: Dorado_demux_2ends {
        publishDir = [
            path: { "${params.outdir}/2B.Dorado_demux_2ends" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withLabel: Fragment_Length {
        publishDir = [
            path: { "${params.outdir}/8.Fragment_length" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withLabel: Remove_bad_alignment {
        publishDir = [
            path: { "${params.outdir}/3.Remove_bad_alignment" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withLabel: Samtools_depth {
        publishDir = [
            path: { "${params.outdir}/4.Mosdepth/samtools" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withLabel: Mosdepth {
        publishDir = [
            path: { "${params.outdir}/4.Mosdepth/${bedtype}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withLabel: Sequencing_summary {
        publishDir = [
            path: { "${params.outdir}/5.Sequencing_summary" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withLabel: Pycoqc {
        publishDir = [
            path: { "${params.outdir}/5.Sequencing_summary" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withLabel: NanoQ {
        publishDir = [
            path: { "${params.outdir}/6.Quality_control" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withLabel: Filtlong {
        publishDir = [
            path: { "${params.outdir}/7.Trimming" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
